### Ejercicio 1. Nombre y matrícula

* Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [36]:
n = "Karina"
m = 1802920
datos="Mi nombre es %s con matrícula %i " %(n,m)
print(datos)

Mi nombre es Karina con matrícula 1802920

### Ejercicio 2. Calculadora básica

* Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y potencia.

In [38]:
print("CALCULADORA BÁSICA")
o = str(input("Operación basica ha realizar: "))
n1 = float(input("Introduzca un número: "))
n2 = float(input("Introduzca otro número: "))

if o == "suma" or o =="+":
  suma = n1 + n2
  print("La suma es: ", suma)
elif o == "resta" or o == "-":
  resta = n1 - n2
  print("La resta es: ", resta)
elif o == "multiplicacion" or o == "*":
  mul = n1 * n2
  print("La multiplicación es: ",mul)
elif o == "division" or o =="/":
  div = n1 / n2
  print("La división es: ",div)
elif o == "potencia" or o == "**":
  pot = n1 ** n2
  print("La potencia es: ", pot)
else:
  print("ERROR")

CALCULADORA BÁSICA
Operación basica ha realizar: +
Introduzca un número: 2.50
Introduzca otro número: 3.75
La suma es:  6.25

### Ejercicio 3. Múltiplos de 3

* Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [37]:
a = 0
suma = 0
for i in range(1,31): 
    if i % 3 == 0:
      a = a + 1
      suma = i + suma
    else:
      i =+1
x = ("El arreglo tiene %i números") %a
print(x)
y = ("La suma de los %i números en el arreglo es: %i") %(a, suma)
print(y)

El arreglo tiene 10 números
La suma de los 10 números en el arreglo es: 165

### Ejercicio 4. Par, impar y primo

- Con una función de if else, revisar si un número es par o es impar.

In [41]:
num = int(input("Ingrese un número: "))

if num % 2 == 0:
  par = ("El número %i es par") %num
  print(par)
elif num % 2 != 0:
  impar = ("El número %i es impar") %num
  print(impar)

Ingrese un número: 250
El número 250 es par

- Con una función de if else, revisar si un número es primo o no.

In [42]:
numero = int(input("Ingrese un número: "))

contador = 0
for i in range (1,numero+1): 
  if numero % i == 0:
    contador = contador + 1
    

if contador == 2:
  primo = ("El número %i es número primo") %numero
  print(primo)
else:
  nop = ("El número %i no es número primo") %numero
  print(nop)

Ingrese un número: 79
El número 79 es número primo

### Ejercicio 5. Calculadora básica con def

* Utilizando diferentes clases en python, crea una calculadora con los operadores  básicos de suma, resta, multiplicación, división, y potencia.

In [40]:
def suma(a,b):
  x=a+b
  return x

def resta(a,b):
  x=a-b
  return x

def multiplicacion(a,b):
  x=a*b
  return x

def division(a,b):
  x=a/b
  return x

def potencia(a,b):
  x=a**b
  return x

print("CALCULADORA BÁSICA")
op = str(input("Operación basica ha realizar: "))
a = float(input("Introduzca un número: "))
b = float(input("Introduzca otro número: "))

if op=="suma":
  print(suma(a,b))
elif op=="resta":
  print(resta(a,b))
elif op=="multiplicacion":
  print(multiplicacion(a,b))
elif op=="division":
  print(division(a,b))
elif op=="potencia":
  print(potencia(a,b))
else: 
  print("ERROR")

CALCULADORA BÁSICA
Operación basica ha realizar: suma
Introduzca un número: 2.5
Introduzca otro número: .75
3.25

## Ejercicios con estructuras básicas de python.

#### Tuplas

- Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [ ]:
#VARIABLE FLOTANTE
f = 0.1809
type (f)

bool

In [ ]:
#VARIABLE INTEGER
i = 50
type (i)

int

In [ ]:
#VARIABLE BOLEANA
7 != 7
type (False)

False

In [ ]:
#VARIABLE COMPLEJA
c = 10 + 7j
type (c)

complex

- Crear una tupla con valores enteros, imprimir el primer y ultimo valor.

In [61]:
tuple = (5, 4, 8, 14, 20, 1, 7, 32, 2, 6)
print("El primer valor de la tupla es: ",tuple[0])
print("El último valor de la tupla es: ",tuple[9])

El primer valor de la tupla es:  5
El último valor de la tupla es:  6

- Añadir 3 valores de string a la tupla.

In [68]:
tuple2 = tuple + ("aguacate", "elote", "plátano")
print(tuple2)
#print(len(tuple2))
print("El primer valor de la tupla es: ",tuple2[0])
print("El último valor de la tupla es: ",tuple2[12])

(5, 4, 8, 14, 20, 1, 7, 32, 2, 6, 'aguacate', 'elote', 'plátano')
El primer valor de la tupla es:  5
El último valor de la tupla es:  plátano

- Verificar si una variable existe dentro de la tupla.

In [74]:
tuple2
#20 in tuple2
"elefante" in tuple2

False

#### Listas

- Crear una lista con 40 elementos aleatorios enteros.

In [131]:
import random

lista = [random.randint(0,1000) for i in range(40)]
print("Elementos: ",lista)

Elementos:  [733, 751, 660, 347, 455, 999, 641, 800, 478, 878, 25, 245, 993, 581, 279, 765, 854, 590, 829, 473, 459, 181, 158, 89, 232, 500, 540, 813, 208, 876, 1, 508, 848, 33, 839, 966, 621, 149, 396, 552]

- Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [132]:
def separacion(lista):
  pares = []
  impares = []
  for i in lista:
    if (i % 2 == 0):
      pares.append(i)
    else:
      impares.append(i)
  return pares, impares

pares, impares = separacion(lista)

print("Pares: ", pares)
print("Impares: ", impares)

Pares:  [660, 800, 478, 878, 854, 590, 158, 232, 500, 540, 208, 876, 508, 848, 966, 396, 552]
Impares:  [733, 751, 347, 455, 999, 641, 25, 245, 993, 581, 279, 765, 829, 473, 459, 181, 89, 813, 1, 33, 839, 621, 149]

- Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [133]:
longpar = len(pares)
longimpares = len(impares)

print("Longitud de lista pares: ",longpar)
print("Longitud de lista impares: ",longimpares)

Longitud de lista pares:  17
Longitud de lista impares:  23

- Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [134]:
print("Pares ordenados: ",sorted(pares,reverse = True))
print("Impares ordenados: ",sorted(impares) )

Pares ordenados:  [966, 878, 876, 854, 848, 800, 660, 590, 552, 540, 508, 500, 478, 396, 232, 208, 158]
Impares ordenados:  [1, 25, 33, 89, 149, 181, 245, 279, 347, 455, 459, 473, 581, 621, 641, 733, 751, 765, 813, 829, 839, 993, 999]

- Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [135]:
#1.Cambiar elemento de la lista
lista.insert(2,123)
print(lista)

[733, 751, 123, 660, 347, 455, 999, 641, 800, 478, 878, 25, 245, 993, 581, 279, 765, 854, 590, 829, 473, 459, 181, 158, 89, 232, 500, 540, 813, 208, 876, 1, 508, 848, 33, 839, 966, 621, 149, 396, 552]

In [137]:
#2.Contar cuántas veces se repite un número en la lista
lista.count(500)

1

In [145]:
#3.Imprime los datos de la lista al revés
lista.reverse()
print(lista)

[552, 396, 149, 621, 966, 839, 33, 848, 508, 1, 876, 208, 813, 540, 500, 232, 89, 158, 181, 459, 473, 829, 590, 854, 765, 279, 581, 993, 245, 25, 878, 478, 800, 641, 999, 455, 347, 660, 123, 751, 733]

In [147]:
#4.Limpiar la lista
lista.clear()
print(lista)

[]

#### Diccionarios

- Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [86]:
dicc = {"Gloria": 20,"Iker":8,"Pilar":20,"Debanhi":25, "Margarita":20,"Kevin": 19}
print(dicc)

{'Gloria': 20, 'Iker': 8, 'Pilar': 20, 'Debanhi': 25, 'Margarita': 20, 'Kevin': 19}

- Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [104]:
edad = []

for valor in dicc:
  edad.append(dicc[valor])

print("Edades: ", edad)
print("Edades ordenadas: ", sorted(edad))

Edades:  [20, 8, 20, 25, 20, 19]
Edades ordenadas:  [8, 19, 20, 20, 20, 25]

- Usando el diccionario y un loop, imprimir solo los nombres.

In [105]:
for key in dicc:
  print (key)

Gloria
Iker
Pilar
Debanhi
Margarita
Kevin

- Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [107]:
dicc["Evelin"]=21
dicc["Hania"]=20

print(dicc)

{'Gloria': 20, 'Iker': 8, 'Pilar': 20, 'Debanhi': 25, 'Margarita': 20, 'Kevin': 19, 'Evelin': 21, 'Hania': 20}

#### Sets

- Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [157]:
import random

set = {random.randint(1,25) for i in range(100)}
print(set)
#Dado que un set no repite números y se nos pide uno de 100 números aleatorios 
#en un rango de 1 al 25 solo se van a poder imprimir esos 25 números

{1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

- Comprueba la longitud de tu set.

In [155]:
len(set)

25

- Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [156]:
listaset = [random.randint(1,10) for i in range(5)]
print(lista)

for i in listaset:
  print(i in set)

[2, 9, 8, 9, 1]
True
True
True
True
True